[submodule "redis-rs"]
	path = redis-rs
	url = git@github.com:jaynus/redis-rs.git
[submodule "flatbuffers"]
	path = flatbuffers
	url = git@github.com:jaynus/flatbuffers.git
[submodule "flatc-rust"]
	path = flatc-rust
	url = git@github.com:jaynus/flatc-rust.git
